/**
 * 通用颜色样式
 */

$lightBlue: #58B7FF;
$blue: #20A0FF;
$darkBlue: #1D8CE0;
$blueMadison: #337ab7;
$blueSteel: #4b77be;
$black: #1F2D3D;
$lightBlack: #324057;
$lightBlack_1: #3B3F51;
$extraLightBlack: #475669;
$darkSilver: #737a99;
$silver: #8492A6;
$lightSilver: #99A9BF;
$extraLightSilver: #999999;
$gray: #D3DCE6;
$lightGray: #E5E9F2;
$extraLightGray: #EFF2F7;
$extraLightGray_1 : #e7ecf1;
$extraLightGray_2 : #eef1f5;
$darkWhite: #F9FAFC;
$lightWhite: #f5f5f5;
$white: #FFFFFF;
$danger: #ff4949;
$dangerHaze: #f36a5a;
$success: #13CE66;
$greenJungle: #23BC61;
$greenSharp: #2ab4c0;
$warning: #F7BA2A;
$yellowCasablanca: #f2784b;
$yellowMint: #c49f47;
$purpleMedium: #bf55ec;
$purpleSoft: #8877a9;